<div class="container">
  <h2>Register</h2>
  <form id="register-form">
    <!-- Text input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" id="username" name="username" class="form-control" />
      <label class="form-label" for="username">Username</label>
    </div>

    <!-- Text input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" id="display_name" name="display_name" class="form-control" />
      <label class="form-label" for="display_name">Full Name</label>
    </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="email" id="email" name="email" class="form-control" />
      <label class="form-label" for="email">Email</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="password" id="password" name="password" class="form-control" />
      <label class="form-label" for="password">Password</label>
    </div>

    <!-- Submit button -->
    <button
      data-mdb-ripple-init
      type="submit"
      class="btn btn-primary btn-block mb-4"
    >
      Save
    </button>
  </form>
</div>
